In [1]:
import mysql.connector

# Connecting mysql

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100'


)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029C37C221F0>

# Create Database

In [3]:
mycursor = mydb.cursor()

mycursor.execute('CREATE DATABASE cold')

DatabaseError: 1007 (HY000): Can't create database 'cold'; database exists

# Show Databases

In [ ]:
mycursor = mydb.cursor()

mycursor.execute('SHOW DATABASEs')

for x in mycursor:
    print(x)

# Conneting Database to mysql workbench

In [ ]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 's_info'


)
print(mydb)

# Check Table was exits

In [ ]:
mycursor = mydb.cursor()

mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

# Creating a Table With Primary Key

In [ ]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 'cold'


)
print(mydb)



mycursor = mydb.cursor()

mycursor.execute('create table drinks(Id int auto_increment primary key, Name varchar(25), Price varchar(10))')

# Insert data into drinks table

In [ ]:
mycursor = mydb.cursor()

sql = 'insert into drinks (Name, Price) values (%s, %s)'
val = ('Pepsi', '400')

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, 'Record Inserted')

# Insert multiple record

In [ ]:
mycursor = mydb.cursor()

sql = 'insert into drinks (Name, Price) values (%s, %s)'
val = [
    ('Coca-Cola', '500'),
    ('Breizh Cola','200'),
    ('Coca-Cola', '300'),
    ('Green Cola', '600'),
    ('Jolt Cola', '800'),
    ('Mecca Cola', '150'),
    ('Pepsi', '100'),
    ('RC cola', '500'),
    ('Topsia Cola', '700')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, 'Was Inserted')

# Select From a Table

In [ ]:
mycursor.execute('select * from drinks')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
mycursor.execute('select Id, Name from drinks')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)
    
# You find Single record Using Fetchone() Query

# Where

In [4]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 'cold'


)
print(mydb)


mycursor = mydb.cursor()


sql = 'select * from drinks where Price = "200"'

mycursor.execute(sql)

myresut = mycursor.fetchall()

for x in myresut:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029C39FF5880>
(1, 'Lassi', '200')
(2, 'Lassi', '200')
(5, 'Breizh Cola', '200')

In [11]:

sql = 'select * from drinks where Name like "%r%"'

mycursor.execute(sql)

myresut = mycursor.fetchall()

for x in myresut:
    print(x)

(5, 'Breizh Cola', '200')
(7, 'Green Cola', '600')
(11, 'RC cola', '500')

# Order By

In [12]:
sql = 'select * from drinks order by Name'

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(5, 'Breizh Cola', '200')
(4, 'Coca-Cola', '500')
(6, 'Coca-Cola', '300')
(7, 'Green Cola', '600')
(8, 'Jolt Cola', '800')
(1, 'Lassi', '200')
(2, 'Lassi', '200')
(9, 'Mecca Cola', '150')
(3, 'Pepsi', '400')
(10, 'Pepsi', '100')
(11, 'RC cola', '500')
(12, 'Topsia Cola', '700')

In [16]:
sql = 'select * from drinks order by Name desc'

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(12, 'Topsia Cola', '700')
(11, 'RC cola', '500')
(3, 'Pepsi', '400')
(10, 'Pepsi', '100')
(9, 'Mecca Cola', '150')
(1, 'Lassi', '200')
(2, 'Lassi', '200')
(8, 'Jolt Cola', '800')
(7, 'Green Cola', '600')
(4, 'Coca-Cola', '500')
(6, 'Coca-Cola', '300')
(5, 'Breizh Cola', '200')

# Delete Record

In [17]:
mycursor = mydb.cursor()

sql = 'delete from drinks where Name = "Pepsi"'

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, 'record(s) was deleted')

2 record(s) was deleted

In [25]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 'cold'


)
print(mydb)


mycursor = mydb.cursor()

mycursor.execute('select * from drinks')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029C3AD09B50>
(1, 'Lassi', '200')
(2, 'Lassi', '200')
(4, 'Coca-Cola', '500')
(5, 'Breizh Cola', '200')
(6, 'Coca-Cola', '300')
(7, 'Green Cola', '600')
(8, 'Jolt Cola', '800')
(9, 'Mecca Cola', '150')
(11, 'RC cola', '500')
(12, 'Topsia Cola', '700')

# Drop Table

In [30]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 'cold'


)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029C3B9054F0>

In [41]:
mycursor = mydb.cursor()

mycursor.execute('create table Water(Id int auto_increment primary key, Name varchar(25), Price varchar(10))')

In [33]:
mycursor = mydb.cursor()

sql = "drop table Soft"    # Drop tables

mycursor.execute(sql)

In [43]:
mycursor = mydb.cursor()

sql = "drop table if exists Soft"    # Drop tables

mycursor.execute(sql)

In [44]:
mycursor = mydb.cursor()

mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('drinks',)
('liquid',)
('water',)

# Update record

In [45]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 'cold'


)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029C3BCAC3A0>

In [47]:
mycursor = mydb.cursor()

sql = "update drinks set Name = 'Limca' where Id = 2"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [48]:
mycursor = mydb.cursor()

mycursor.execute('select * from drinks')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Lassi', '200')
(2, 'Limca', '200')
(4, 'Coca-Cola', '500')
(5, 'Breizh Cola', '200')
(6, 'Coca-Cola', '300')
(7, 'Green Cola', '600')
(8, 'Jolt Cola', '800')
(9, 'Mecca Cola', '150')
(11, 'RC cola', '500')
(12, 'Topsia Cola', '700')

# Limit the Result

In [49]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aditya100',
    database = 'cold'


)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029C3B543040>

In [50]:
mycursor = mydb.cursor()

mycursor.execute('select * from drinks limit 5')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Lassi', '200')
(2, 'Limca', '200')
(4, 'Coca-Cola', '500')
(5, 'Breizh Cola', '200')
(6, 'Coca-Cola', '300')

In [52]:
mycursor = mydb.cursor()

mycursor.execute('select * from drinks limit 5 offset 5')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(7, 'Green Cola', '600')
(8, 'Jolt Cola', '800')
(9, 'Mecca Cola', '150')
(11, 'RC cola', '500')
(12, 'Topsia Cola', '700')